
.turf-page {
  background: transparent;
  min-height: 100vh;
  padding: 40px 0;
  margin-top: 120px;
}


.turf-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}


.turf-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.turf-header h1 {
  font-size: 32px;
  font-weight: 700;
  color: #0f172a;
  margin-top: -130px;
  margin-left: 400px;
}


.search-box {
  display: flex;
  gap: 12px;
  /* background-color: transparent; */
}

.search-box input {
  width: 340px;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  font-size: 16px;
}

.search-box button {
  padding: 14px 24px;
  border-radius: 12px;
  border: none;
  background: #4f46e5;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}


.turf-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  align-items: stretch;
}


.turf-card {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  width: 380px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.turf-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  background: #e5e7eb;
}


.turf-content {
  padding: 22px;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: -30px;
}

.turf-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #020617;
}


.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
  flex-wrap: wrap;
}

.tags span {
  padding: 6px 16px;
  border: 1px solid #c7d2fe;
  border-radius: 999px;
  font-size: 14px;
  color: #4f46e5;
  font-weight: 500;
}


.time {
  color: #374151;
  font-size: 15px;
  margin-bottom: 20px;
}


.details-btn {
  margin-top: auto;
  width: 150px;
  padding: 16px 0;
  background: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 150px;
  transition: background 0.25s ease;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-btn:hover {
  background: #4338ca;
}


@media (max-width: 900px) {
  .turf-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .turf-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .turf-grid {
    grid-template-columns: 1fr;
  }

  .search-box {
    width: 100%;
  }

  .search-box input {
    width: 100%;
  }
}
