.footer {
  width: 100vw;                 
  background-color: #f5f5f5;
  padding: 18px 0;              
  text-align: center;
  border-top: 1px solid #e5e7eb;
  margin-top: 50px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;           
  margin-right: -50vw;
}

.footer-text {
  font-size: 15px;
  color: #1f2937;
  margin: 4px 0;
}

.heart {
  color: #111827;
  font-weight: bold;
}

.developer {
  color: #2563eb;
  font-weight: 500;
  cursor: pointer;
}

.developer:hover {
  text-decoration: underline;
}
